* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/spiration-light.png");
    background-repeat: repeat;
}

div {
    background: #ffffff;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
}

p {
    margin-top: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

img {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

section {
    clear: both;
}

label {
    font-size: 20px;
    color: #666666;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type=text], select {
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px 0 30px 0;
}

#inputField {
    width: 920px;
}

#inputMessage {
    height: 300px;
    width: 920px;
}

#buttonSubmit {

    background-color: #4aaaa5;  
    color: white;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 5px;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: #666666;
    font-weight: bold;
    margin-left: 20px;
    color: #dddddd;
}

footer {
    text-align: center;
    border-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 10px;
    background-color: #666666;
    font-size: 10px;
    height: 40px;
    vertical-align: bottom;
    color: #dddddd;
    padding: 20px;
    clear: both;
}

#navBar {
    background-color: #dddddd;
}

#headerWidth {
    width: 960px;
    margin: auto;
}


#aboutMeHeader {
    float: left;
    background-color: #4aaaa5;  
    color: white;
    font-weight: bold;
    display: inline-block;
    line-height: 55px;
    padding: 10px;
}

#linkHandling {
    float: right;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#meContent {
    width: 960px;
    height: auto;
    margin: auto;
}

#formatAbout {
    color: #4aaaa5;
    font-weight: bold;
    text-decoration-color: #4aaaa5;
    padding: 10px;
}

#borderLine {
    border-top-style: solid;
    border-top-color: #666666;
    border-top-width: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.clearfix::after { content: "";
    Display: block;
    Clear: both;
    }
    